<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'layout.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'bug_report' %}">Report A Bug</a></li>
            <li><a href="{% url 'upload_data' %}">Upload Data</a></li>
            <li><a href="{% url 'query_data' %}">Query Data</a></li>
            <li><a href="{% url 'delete_data' %}">Delete Data</a></li>
            <li><a href="{% url 'update_data' %}">Update Data</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'view_tables' %}">View Tables</a></li>
            <li><a href="{% url 'create_table' %}">Create Table</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
